body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#PageHeader
{
   background-color: #212121;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
#PageHeader
{
   transition: all 500ms linear 0ms;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid1 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 20px 0 20px 0;
}
#LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid1 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 20px 0 20px 0;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 455px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 20px 0;
   text-align: left;
}
#Heading3
{
   color: #969696;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: left;
}
#Heading4
{
   color: #969696;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 20px 0;
   margin: 0;
   text-align: left;
}
#wb_Text2
{
   color: #969696;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 19px;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: right;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #DCDCDC;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_CssMenu1 > ul > li > a
{
   height: 40px;
   line-height: 40px;
   padding: 0px 5px 0px 18px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #F05F40;
   border: 0px solid #222222;
   background-color: transparent;
   background-image: none;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_CssMenu2
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_CssMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu2 li
{
   float: left;
   margin: 0;
   padding: 6px 4px 6px 0px;
}
#wb_CssMenu2 a
{
   display: block;
   float: left;
   color: #DCDCDC;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_CssMenu2 > ul > li > a
{
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 5px;
}
#wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover
{
   color: #F05F40;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_CssMenu2 li.firstmain
{
   padding-left: 6px;
}
#wb_CssMenu2 li.lastmain
{
   padding-right: 6px;
}
#wb_CssMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#CssMenu2 li i
{
   font-size: 13px;
   margin-right: 3px;
   width: 15px;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: left;
}
#Heading1
{
   color: #969696;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 20px 0;
   margin: 0;
   text-align: left;
}
#wb_Text1
{
   color: #969696;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 17px;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#about
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_CardContainer9
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#CardContainer9
{
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: stretch;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0;
}
@media all and (max-width:480px) 
{
#CardContainer9
{
   flex-direction: column;
   flex-wrap: nowrap;
}
}
#wb_Card23
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 30px 10px 30px 10px;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   box-shadow: 0px 0px 20px rgba(0,0,0,0.34);
   text-align: left;
}
#Card23-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card23-card-item0
{
   box-sizing: border-box;
   margin: 50px 0 -100px 50px;
   padding: 0;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   max-width: 86px;
   width: 100%;
   height: 86px;
}
#Card23-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 150px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card23-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 10px 150px;
   padding: 0;
   color: #7F7F7F;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
}
#Card23-card-item3
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0 0 0 150px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card23-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#Card23-card-item3 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card23-card-item4
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card23-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#Card23-card-item4 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card23-card-item5
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card23-card-item5 a
{
   color: inherit;
   text-decoration: none;
}
#Card23-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card23-card-item6
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card23-card-item6 a
{
   color: inherit;
   text-decoration: none;
}
#Card23-card-item6 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card23-card-item7
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #CCD6DF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card23-card-item7 a
{
   color: inherit;
   text-decoration: none;
}
#Card23-card-item7 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card23-card-item8
{
   box-sizing: border-box;
   margin: 30px 30px 50px 50px;
   padding: 0;
   color: #737373;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
   line-height: 22.5px;
}
#wb_Card24
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 30px 10px 30px 10px;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   box-shadow: 0px 0px 20px rgba(0,0,0,0.34);
   text-align: left;
}
#Card24-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card24-card-item0
{
   box-sizing: border-box;
   margin: 50px 0 -100px 50px;
   padding: 0;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   max-width: 86px;
   width: 100%;
   height: 86px;
}
#Card24-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 150px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card24-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 10px 150px;
   padding: 0;
   color: #7F7F7F;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
}
#Card24-card-item3
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0 0 0 150px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card24-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#Card24-card-item3 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card24-card-item4
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card24-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#Card24-card-item4 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card24-card-item5
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card24-card-item5 a
{
   color: inherit;
   text-decoration: none;
}
#Card24-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card24-card-item6
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card24-card-item6 a
{
   color: inherit;
   text-decoration: none;
}
#Card24-card-item6 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card24-card-item7
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #CCD6DF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card24-card-item7 a
{
   color: inherit;
   text-decoration: none;
}
#Card24-card-item7 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card24-card-item8
{
   box-sizing: border-box;
   margin: 30px 30px 50px 50px;
   padding: 0;
   color: #737373;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
   line-height: 22.5px;
}
#wb_CardContainer1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#CardContainer1
{
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: stretch;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0;
}
@media all and (max-width:480px) 
{
#CardContainer1
{
   flex-direction: column;
   flex-wrap: nowrap;
}
}
#wb_Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 30px 10px 30px 10px;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   box-shadow: 0px 0px 20px rgba(0,0,0,0.34);
   text-align: left;
}
#Card1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 50px 0 -100px 50px;
   padding: 0;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   max-width: 86px;
   width: 100%;
   height: 86px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 150px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 10px 150px;
   padding: 0;
   color: #7F7F7F;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
}
#Card1-card-item3
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0 0 0 150px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card1-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#Card1-card-item3 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card1-card-item4
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card1-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#Card1-card-item4 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card1-card-item5
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card1-card-item5 a
{
   color: inherit;
   text-decoration: none;
}
#Card1-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card1-card-item6
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card1-card-item6 a
{
   color: inherit;
   text-decoration: none;
}
#Card1-card-item6 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card1-card-item7
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #CCD6DF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card1-card-item7 a
{
   color: inherit;
   text-decoration: none;
}
#Card1-card-item7 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card1-card-item8
{
   box-sizing: border-box;
   margin: 30px 30px 50px 50px;
   padding: 0;
   color: #737373;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
   line-height: 22.5px;
}
#wb_Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 30px 10px 30px 10px;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   box-shadow: 0px 0px 20px rgba(0,0,0,0.34);
   text-align: left;
}
#Card2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 50px 0 -100px 50px;
   padding: 0;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   max-width: 86px;
   width: 100%;
   height: 86px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 150px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 10px 150px;
   padding: 0;
   color: #7F7F7F;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
}
#Card2-card-item3
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0 0 0 150px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card2-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#Card2-card-item3 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card2-card-item4
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card2-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#Card2-card-item4 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card2-card-item5
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card2-card-item5 a
{
   color: inherit;
   text-decoration: none;
}
#Card2-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card2-card-item6
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card2-card-item6 a
{
   color: inherit;
   text-decoration: none;
}
#Card2-card-item6 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card2-card-item7
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #CCD6DF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card2-card-item7 a
{
   color: inherit;
   text-decoration: none;
}
#Card2-card-item7 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card2-card-item8
{
   box-sizing: border-box;
   margin: 30px 30px 50px 50px;
   padding: 0;
   color: #737373;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
   line-height: 22.5px;
}
#wb_CardContainer2
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#CardContainer2
{
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: stretch;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0;
}
@media all and (max-width:480px) 
{
#CardContainer2
{
   flex-direction: column;
   flex-wrap: nowrap;
}
}
